.container {
  display: flex;
  flex-direction: column;
  padding: 48px 64px;
}

.camperDetails {
  display: flex;
  flex-direction: column;
  gap: 28px;

  margin-bottom: 60px;
}

.cardHeaderWrapp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
}

.priceAndFavoriteWrapp {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.favoriteBtn {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}

.favoriteIcon {
  stroke: none;
  fill: var(--main);
}

.reviewsAndLocationWrapp {
  display: flex;
  gap: 16px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);

  margin-bottom: 16px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 4px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  text-decoration: underline;
}

.location {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);

  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.reviewsIcon {
  fill: var(--rating);
}

.reviewsIconDefault {
  fill: var(--badges);
}

.camperName {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);

  margin-bottom: 8px;
}

.camperPhotos {
  display: flex;
  gap: 48px;
}

.image {
  border-radius: 10px;
  min-width: 292px;
  width: auto;
  height: 312px;
  object-fit: none;
  object-position: center;
}

.camperDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.outletTitleContainer {
  margin-bottom: 44px;
}

.outletTitleWrapp {
  display: flex;
  gap: 40px;

  height: 48px;
  width: 100%;
}

.stroke {
  height: 1px;
  background-color: var(--gray-light);

  width: 100%;
}

.outletLink {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);

  padding-bottom: 22px;
}

.active {
  border-bottom: 5px solid var(--button);
}

.outletAndBookingWrapp {
  display: flex;
  gap: 40px;
}
