.header {
  background-color: var(--inputs);
}

.container {
  border-bottom: 1px solid var(--badges);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px 64px;
  position: relative;
}

.logoContainer {
  position: absolute;
  left: 64px;
}

.logo {
  height: 15px;
  max-width: 136px;
}

.navigation {
  align-items: center;
  display: inline-flex;
  gap: 32px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

.navItem {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
}

.active {
  color: var(--button-hover);
}
