:root {
  --font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
}
