.container {
  max-width: 360px;
  width: 100%;
}

.formWrapp {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.locationLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.locationInputWrapp {
  position: relative;
  margin-top: 8px;
}

.locationInput {
  border: none;
  border-radius: 12px;
  padding: 18px 20px 18px 48px;
  width: 360px;
  height: 56px;

  background-color: var(--inputs);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  outline: none;

  &:focus {
    border-color: var(--button);
  }
}

.locationInput::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.locationIcon {
  position: absolute;
  bottom: 18px;
  left: 20px;

  fill: var(--main);
  stroke: none;
}

.filtersTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
}

.filtersSubtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.stroke {
  height: 1px;
  background-color: var(--gray-light);

  width: 360px;
}

.input {
  width: 100%;
  padding: 10px 14px;
  font-size: 14px;
  color: #333333;
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  border-radius: 6px;
  outline: none;

  transition: border-color var(--transition);
}

.input:focus {
  border-color: var(--button);
}

.filtersWrapp {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filterGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.label {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;

  mix-blend-mode: multiply;

  transition: background-color var(--transition);
}

.label input[type='checkbox'],
.label input[type='radio'] {
  display: none;
}

.label:has(input:checked) {
  border-color: var(--button);
}

.button {
  border-radius: 200px;
  padding: 16px 60px;
  width: fit-content;
  height: 56px;

  background-color: var(--button);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);

  &:hover {
    background-color: var(--button-hover);
  }

  &.btnReset {
    color: var(--inputs);
    background-color: var(--gray);

    &:hover {
      background-color: var(--text);
    }
  }

  &.btnReset:disabled:hover {
    background-color: var(--gray);
    cursor: not-allowed;
  }
}

.btnWrapp {
  display: flex;
  gap: 16px;
}

.equipmentGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
}

.equipmentIcon {
  stroke: none;
  fill: var(--main);

  &.clearFill {
    stroke: var(--main);
    fill: none;
  }
}
